In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv ("adult.data.csv")

In [17]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**_Question 1:_** How many people of each race are represented in this dataset?

In [26]:
def calculate_race(input_df):
    series_1 = input_df['race'].value_counts()
    series_1.name = 'Total'
    return series_1

print(f"Number of each race:\n{calculate_race(df)}")

Number of each race:
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: Total, dtype: int64

**_Question 2:_** What is the average age of men?

In [27]:
def average_men_age(input_df):
    df2 = input_df.set_index('sex')
    df2 = round(df2.groupby('sex')['age'].mean().reset_index(), 1)
    men_mean_age = df2.loc[df2['sex'] == 'Male', 'age'].iloc[0]
    return men_mean_age

print(f"Average age of men: {average_men_age(df)}%")

Average age of men: 39.4%

**_Question 3:_** What is the percentage of people who have a Bachelor's degree?

In [23]:
def bachelor_percentage(input_df):
    df3 = round((input_df['education'].value_counts(normalize=True) * 100).reset_index(), 1)
    df3.columns = ['Education', 'Percentage']
    bachelors_percentage = df3.loc[df3['Education'] == 'Bachelors','Percentage'].iloc[0]
    return bachelors_percentage

print(f"Percentage with Bachelors degrees: {bachelor_percentage(df)}%")

Percentage with Bachelors degrees: 16.4%

**_Question 4:_** What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [28]:
def advanced_education(input_df):
    advanced_education = ['Masters', 'Bachelors', 'Doctorate']
    df4 = input_df[(input_df['education'].isin(advanced_education)) & (input_df['salary'] == '>50K')]
    total_advanced_education = input_df[input_df['education'].isin(advanced_education)].shape[0]
    percentage_advanced_education = round((df4.shape[0] / total_advanced_education * 100), 1)
    return percentage_advanced_education

print(f"Percentage with higher education that earn >50K: {advanced_education(df)}%")

Percentage with higher education that earn >50K: 46.5%

**_Question 5:_** What percentage of people without advanced education make more than 50K?

In [29]:
def without_advanced_education(input_df):
    advanced_education = ['Masters', 'Bachelors', 'Doctorate']
    without_advanced_education = input_df[~input_df['education'].isin(advanced_education)]
    df5 = without_advanced_education[without_advanced_education['salary'] == '>50K']
    percentage_without_advanced_education = round((df5.shape[0] / without_advanced_education.shape[0] * 100), 1)
    return percentage_without_advanced_education

print(f"Percentage without higher education that earn >50K: {without_advanced_education(df)}%")

Percentage without higher education that earn >50K: 17.4%

**_Question 6:_** What is the minimum number of hours a person works per week?

In [30]:
def minimum_hour(input_df):
    return input_df['hours-per-week'].min()

print(f"Min work time {minimum_hour(df)} hour")

Min work time 1 hour

**_Question 7:_** What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [31]:
def percentage_min_hour(input_df):
    min_work_hour = input_df['hours-per-week'].min()
    total_minimum_salary = input_df[input_df['hours-per-week'] == min_work_hour]
    df7 = total_minimum_salary[total_minimum_salary['salary'] == '>50K']
    min_percentage = round((df7.shape[0] / total_minimum_salary.shape[0] * 100), 1)
    return min_percentage

print(f"The percentage of people who work the minimum hours per week and have a salary of more than 50K is: {percentage_min_hour(df)}% ")

The percentage of people who work the minimum hours per week and have a salary of more than 50K is: 10.0%

**_Question 8:_** What country has the highest percentage of people that earn >50K and what is that percentage?

In [32]:
#In this code, idxmax() is used to find the index (country) with the maximum value in the series
def percentage_highest_earning_country(input_df):
    salary_50K = input_df.query('salary ==">50K"')
    highest_earning_country = salary_50K['native-country'].value_counts(normalize=True).idxmax()
    percentage_highest_earning_country = round((salary_50K['native-country'].value_counts(normalize=True).max() * 100), 2)
    return highest_earning_country, percentage_highest_earning_country

result_country, result_percentage = percentage_highest_earning_country(df)
print(f"The country that has the highest percentage of people that earn >50K is: {result_country} with {result_percentage}%")

The country that has the highest percentage of people that earn >50K is: United-States with 91.46%

**_Question 9:_** Identify the most popular occupation for those who earn >50K in India.

In [33]:
def most_popular_occupation(input_df):
    df9 = input_df.query('salary ==">50K" & `native-country`== "India" ')
    popular_occupation = df9['occupation'].value_counts(normalize=True).idxmax()
    return popular_occupation

print(f"The most popular occupation for those who earn >50K in India is: {most_popular_occupation(df)}")

The most popular occupation for those who earn >50K in India is: Prof-specialty